@import "../../.local/share/dotfiles/current/theme/waybar.css";

* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @background;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @background;
    margin-left: 0.5rem;
}

#workspaces button {
    color: @foreground;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @foreground;
    border-radius: 1rem;
}

@keyframes urgent-blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
}

#workspaces button.urgent {
  color: @foreground;
  border-radius: 1rem;
  animation: urgent-blink 1s infinite;
}

#custom-music,
#tray,
#bluetooth,
#cpu,
#clock,
#network,
#battery,
#pulseaudio,
#custom-brightness,
#custom-hypridle,
/* #custom-updates, */
#custom-exit,
#custom-notification{
    background-color: @background;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock {
    color: @foreground;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#pulseaudio {
    color: @foreground;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-left: 1rem;
}

#custom-music {
    color: @foreground;
    border-radius: 1rem;
}

#network {
    border-radius: 1rem 0rem 0rem 1rem;
    margin-left: 1rem;
    color: @foreground;
}

#cpu,
#network,
#battery,
#custom-hypridle,
#custom-brightness,
#custom-exit{
    color: @foreground;
}

#custom-notification {
    border-radius: 0rem 1rem 1rem 0rem;
    margin-right: 1rem;
    color: @foreground;
}

#tray {
    color: @foreground;
    border-radius: 1rem;
    margin-left: 1rem;
}

/* #custom-updates { */
/*     margin-left: 0.5rem; */
/*     border-radius: 1rem; */
/*     color: @foreground; */
/* } */

#custom-hypridle.notactive {
    color: rgb(224, 137, 137);
}

tooltip {
    background-color: alpha(@background, 0.9);
    padding: 20px;
    margin: 0px;
    border-radius: 1rem;
}

tooltip label {
    color: @foreground;
}
